html{
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    margin-top: 1rem;
}

:root {
    --text-2xs : 0.7rem;
    --text-xs : 0.8rem;
    --text-sm : 0.9rem;
    --text-basic : 1rem;
    --text-md : 1.1rem;
    --text-mlg :1.5rem;
    --text-lg : 1.2rem;
    --text-xl : 1.8rem;
    --text-2xl : 2.5rem;
    --text-3xl : 3rem;
}


/* ------- small devices Nav---------- */
.header .for_smallDevices {
    /* max-width: 440px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}

.header .for_smallDevices .left {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header .for_smallDevices .right {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header .for_smallDevices .main_threeline {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.header .for_smallDevices .three_lines {
    background-color: black;
    height: 1.1px;
    width: 16px;

}

.header .nav {
    display: none;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.9rem;
    font-size: var(--text-sm);

}
.header .nav .left_nav {
    display: flex;
    align-content: center;
    gap: .8rem;
}
.header .nav a {
    text-decoration: none;
    color: #2d3436;

}

/* -------media to change between Nav------------- */
@media  (min-width: 860px) {
    .header .for_smallDevices {
        display: none;
    }
    .header .nav {
        display: flex;
    }
}
/* --------Large devices Nav--------- */


.header .options, .options_860px, .options_871px,
.options_931px, .options_978px, .options_1160px {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    /* margin-left: 10rem; */
}
/* .header .options_860p {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-left: 10rem;
} */

@media (min-width: 860px) {
    .header .options, .options_860p, .options_871px,
.options_931px, .options_978px, .options_1160px {
        display: none;
    }
    .header .options_860px {
        display: flex;
    }
}
@media (min-width: 871px) {
    .header .options_860px {
        display: none;
    }
    .header .options_871px {
        display: flex;
    }
}
@media (min-width: 931px) {
    .header .options_871px {
        display: none;
    }
    .header .options_931px {
        display: flex;
    }
}
@media (min-width: 978px) {
    .header .options_931px {
        display: none;
    }
    .header .options_978px {
        display: flex;
    }
}
@media (min-width: 1160px) {
    .header .options_978px {
        display: none;
    }
    .header .options_1160px {
        display: flex;
    }
}

@media (min-width: 1310px) {
    .header .options_1160px {
        display: none;
    }
    .header .options {
        display: flex;
    }

}
@media (min-width: 1700px) {
    .header .nav  {
        margin: 0 9rem;
    }
}



.header .right_nav {
    display: flex;
    gap: 1.3rem;
    align-items: center;
}
.header .right_nav {
    display: flex;
}

.header .Alles_Von {
    margin-right: .5rem;

}
.header .macrosoft_list {
    display: flex;
    align-items: center;
}

@media (min-width: 860px) {
    .header .right_nav .captions_icons {
        display: none;
    }
}
@media (min-width: 1450px) {
    .header .right_nav .captions_icons {
        display: flex;
    }
}

.header .checkmark {
    background-color: white;
    width: 25px;
    height: 25px;
}

.header .tick  {

    width: 6px;
    height: 6px;
    border: solid #2d3436;
    border-width: 0 1.5px 1.5px 0;
    transform: rotate(45deg);
    margin-top: .5rem;

}

.header .suchen, .shop, .profile {
    display: flex;
    align-items: center;
    gap: .3rem;
}

/* -----------------auto list-------------------------------- */
.header .auto_list {
    background-color: #e9ebee;
    width: 65% ;
    /* height:  30rem; */
    display: none;
    position: absolute;
    top: 4rem;
    left: 27rem;
    justify-content: left;
}



 .header .aaa {
    line-height: 2.5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: right; */
    white-space: nowrap;
    font-size: var(--text-xs);
    margin: 1rem 1rem 0 2rem ;
 }
 .header .aaa a:hover  {
    text-decoration: underline;
 }

.header .first_bold {
    font-weight: bold;
}
/* <!-- ---------------------Slider--------------------------------------------- --> */

.initialBG .initial_linkTag {
    text-decoration: none;
    color: black;
    margin-top: 1rem;
    width: 100%;
    height: 18rem;
    display: flex;
    background: linear-gradient(160deg, rgba(164, 180, 233, 0.8), rgba(214, 214, 241, 0.842) 60% );
}

.initialBG .left_intialBG .p1 {
    margin: 20rem 1.8rem 0 1.8rem;
    display: grid;
}
.initialBG .TheBold_titleOf_slide {
    font-size: var(--text-mlg);
    font-weight: bold
}
.initialBG .description_title {
    font-size: var(--text-ms);
    line-height: 1.8rem;
    margin: 2rem 0;
}
.initialBG .kaufen_icon  {

    background-color:#3c40c6;
    padding: 1rem 1rem;
    color: white;
    font-weight: bold;
    border-radius: .3rem;
    text-decoration: none;
    font-size: var(--text-ms);
    height: 1rem;
    width: 10.2rem;
}

.initialBG .kaufen_icon:hover {
    background-color: #5156eb;
}

/* ---------------slider with  overlap----------------- */
.initialBG_with_overlap .slider {
    display: none;
    flex-direction: column;
}

.initialBG_with_overlap .slider .upperLap{
    margin-top: 1rem;
    width: 100%;
    height: 18rem;
    display: flex;
    background: linear-gradient(160deg, rgba(164, 180, 233, 0.8), rgba(214, 214, 241, 0.842) 60% );
}
.initialBG_with_overlap a {
    text-decoration: none;
    color: black;
}
.initialBG_with_overlap .lowerLap {
    padding: 3rem 3rem;
    background-color: white;
    margin: -3rem 1.8rem 0 1.8rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 .1875rem .4375rem 0 rgba(0, 0, 0, .13),
     0 .0625rem .125rem 0 rgba(0, 0, 0, .11);

}
.initialBG_with_overlap .lowerLap .TheBold_titleOf_slide {
    font-size: var(--text-mlg);
    font-weight: bold;



}
.initialBG_with_overlap .lowerLap .description_title {
    font-size: var(--text-ms);
    line-height: 1.3rem;
    margin: 1rem 0;
}
.initialBG_with_overlap .lowerLap .kaufen_icon  {

    background-color:#3c40c6;
    padding: 1rem 1rem;
    color: white;
    font-weight: bold;
    border-radius: .3rem;
    text-decoration: none;
    font-size: var(--text-ms);
    height: 1rem;
    width: 10.2rem;
}

.initialBG_with_overlap .lowerLap .kaufen_icon:hover {
    background-color: #5156eb;
}
@media (min-width: 860px) {
    .initialBG .initial_linkTag {
        display: none;
    }
    .initialBG_with_overlap .slider {
        display: flex;
    }
}

@media (min-width: 1084px) {
    .initialBG .initial_linkTag {
        display: flex;
        height: 100%;

    }
    .initialBG_with_overlap .slider {
        display: none;
    }
    .initialBG .initial_linkTag {

    }
    .initialBG .left_intialBG {
        display: flex;
        flex-basis: 50%;
    }
    .initialBG .left_intialBG .p1 {
        margin: 6rem 11rem;
    }

    .initialBG .TheBold_titleOf_slide {
        font-size: var(--text-2xl);
    }
    .initialBG .kaufen_icon {
        font-size: var(--text-md);
        height: 1.2rem;
        width: 11.2rem;
    }
    .initialBG .description_title {
        font-size: var(--text-md);
    }
}


/* <!-- ------------------five icons under slider------------------------------------------------ --> */
.five_icons {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: space-around;
    margin: 5rem 2rem;
    padding-top: 25rem;
}
/* .five_icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding-top: 23rem;
    margin: 5rem 2rem;
    align-content: center;
    gap: 2rem;

} */
.five_icons a {
    align-self: flex-end;

}
.five_icons a div {
    color: #3c40c6;
    font-weight: bold;
    font-size: var(--text-xs);

}
@media (min-width: 386px) {
    .five_icons {
        padding-top: 20rem;
    }
}
@media (min-width: 444px) {
    .five_icons {
        padding-top: 18rem;
    }
}
@media (min-width: 444px) {
    .five_icons {
        padding-top: 17rem;
    }
}
@media (min-width: 800px) {
    .five_icons {
        padding-top: 15rem;
    }
}
@media (min-width: 860px) {
    .five_icons {
        padding-top: 0rem;
    }
}

@media (min-width: 1328px) {
    .five_icons {
        font-size: var(--text-md);
    }
    .five_icons a div {
        font-size: var(--text-md);

    }
  }
  @media (min-width: 1020px) {
    .five_icons {
        display: flex;
        justify-content: center;
        gap: 3rem;
    }
  }

/* <!-- ------------------Items for sales , four lists-------------------------- --> */
.lower_container {
    /* margin: 0 7rem ; */
}

@media (min-width: 1084px) {
    .lower_container {
        margin: 0 8rem ;
    }
}

.four_list {
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    justify-items: center;
    gap: 25px;
    margin: 0 2rem;

}

.four_list .p1 {
    display: grid;
    /* flex-direction: column; */
    width: 100%;
    text-decoration: none;
    color: black;
    box-shadow: 0 .1875rem .4375rem 0 rgba(0, 0, 0, .13),
     0 .0625rem .125rem 0 rgba(0, 0, 0, .11);
    margin-bottom: 3rem;
    /* position: relative; */
}
.four_list .p1 .upper {
    align-self: self-start;
}

.four_list .p1 img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}



.four_list .bold_title_box {
    font-size: var(--text-mlg);
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 0 1.4rem;
}
.four_list .description_box {
    font-size: var(--text-ms);
    line-height: 1.4;
    padding: 0rem 1.4rem;
}

.four_list .p1 .general_fourIcons {
    background-color: #3c40c6;
    padding: 1em 1.3em;
    color: white;
    font-weight: bold;
    border-radius: .3rem;
    /* height: 1rem; */
    margin: 2rem 1.4rem 1.5rem 1.4rem ;
    align-self: self-end;
    justify-self: left;
}

.four_list .p1 .general_fourIcons:hover {
    background-color: #5156eb;
}
 .four_list .p1 .CopilotApp_icon {
    /* padding: 1rem 1.3rem 2rem 1.3rem; */
 }


@media (min-width: 580px) {
    .four_list {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
    }
    .four_list .p1 {
        margin-bottom: 2.5rem;
        position: relative;
    }


}

@media (min-width: 1084px) {
    .four_list {
        display: grid;
        grid-template-columns: repeat(4 , 1fr);

    }

    .four_list .bold_title_box {
        font-size: var(--text-xl);
    }

    .four_list .description_box {
        font-size: var(--text-md);
    }
}

/* -----------------game pass part up to 1083.99 px---------------------------  */
.game_pass_lower_1084 {
    display: flex;
    justify-content: center;
    align-content: center;


}
.game_pass_lower_1084 .gamePass_Linktag_lower_1084 {
    display: flex;
    flex-direction: column-reverse;
    margin: 8rem 0rem   ;
    text-decoration: none;
    width: 89%;
    color: black;

}

.game_pass_lower_1084 .left_gamepass_lower_1084 {
    margin: 1.5rem 1rem ;
    /* align-content: center; */
    /* flex-basis: 50%; */
}

.gamePass_Linktag_lower_1084 .right_gamepass_lower_1084 img {
    width: 100%;
    height: auto;

}
.game_pass_lower_1084 .gamePass_Linktag_lower_1084 .title_gamePass_lower_1084 {
    font-size: var(--text-xl);
    font-weight: bold;

}
.game_pass_lower_1084 .gamePass_Linktag_lower_1084 .description_gamePass_lower_1084 {
    font-size: var(--text-ms);
    line-height: 1;
    margin: 1.5rem 0 3rem 0rem;
}

.game_pass_lower_1084 .gamePass_Linktag_lower_1084 .kaufenIcon_gamePass_lower_1084 {
    background-color: #3c40c6;
    font-weight: bold;
    font-size: var(--text-ms);
    color: white;
    padding: 1em 1em;
    border-radius: .4rem;
    display: inline;
 }
 .game_pass_lower_1084 .gamePass_Linktag_lower_1084 .kaufenIcon_gamePass_lower_1084:hover {
    background-color: #5156eb;
 }
 @media (min-width: 1084px) {
    .game_pass_lower_1084 .gamePass_Linktag_lower_1084  {
        display: none;
    }
    .game_pass .gamePass_Linktag{
        display: flex;
    }
 }

/* <!--------------------- game pass part from 1048---------------------------------------> */
.game_pass {
    display: flex;
    justify-content: center;

}

.gamePass_Linktag {
    background-color: black;
    display: none;
    margin: 8rem 0rem   ;
    text-decoration: none;
    width: 100%;

}
@media (min-width: 1500px) {
    .gamePass_Linktag {
        max-width: 1527px;
    }
 }

.gamePass_Linktag .left_gamepass {


    color: white;
    margin: 4rem 3rem 4rem 3rem;
    align-content: center;
    flex-basis: 35%;
}

.gamePass_Linktag .right_gamepass img {
    width: 100%;
    height: auto;

}


.gamePass_Linktag .title_gamePass {
    font-size: var(--text-mlg);
    font-weight: bold;

}
.gamePass_Linktag .description_gamePass {
    font-size: var(--text-xs);
    line-height: 1;
    margin: 1.5rem 0 2rem 0rem;
}

.gamePass_Linktag .kaufenIcon_gamePass {
    background-color: #3c40c6;
    font-weight: bold;
    font-size: var(--text-ms);
    color: white;
    padding: .5em .5em;
    border-radius: .4rem;
    display: inline;
 }
 .gamePass_Linktag .kaufenIcon_gamePass:hover {
    background-color: #5156eb;
 }

 @media (min-width: 1300px) {

    .gamePass_Linktag .left_gamepass{
        margin: 4rem 5rem 4rem 5rem;
    }
    .gamePass_Linktag .title_gamePass {
        font-size: var(--text-2xl);
    }
    .gamePass_Linktag .description_gamePass {
        font-size: var(--text-ms);
        line-height: 1.2;
        margin: 1.5rem 0 2.8rem 0rem;
    }
    .gamePass_Linktag .kaufenIcon_gamePass {
        padding: .7em .9em;
        font-size: var(--text-md);
    }

 }


/* ---------------second four Items-----and------fur_unternehmen-------------------- */

.four_list_second {
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    justify-items: center;
    position: relative;
    gap: 25px;
    margin: 0 2rem;

}

.four_list_second .fur_unternehmen {
    font-size: var(--text-mlg);
    font-weight: bold;
    margin-bottom: 1.2rem;
    position: absolute;
    bottom: 100%;
}

/* ------------------------------------------------------------------+ */
.four_list_second .p1 {
    display: grid;
    width: 100%;
    text-decoration: none;
    color: black;
    box-shadow: 0 .1875rem .4375rem 0 rgba(0, 0, 0, .13),
     0 .0625rem .125rem 0 rgba(0, 0, 0, .11);
}
.four_list_second .p1 .upper {
    align-self: self-start;
}

.four_list_second .p1 img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;

}




.four_list_second .bold_title_box {
    font-size: var(--text-mlg);
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 0 1.4rem;

}
.four_list_second .description_box {
    font-size: var(--text-ms);
    line-height: 1.4;
    padding: 0 1.4rem;
}



.four_list_second .p1 .general_fourIcons {
    background-color: #3c40c6;
    margin-top: 3rem;
    padding: 1em 1.3em;
    color: white;
    font-weight: bold;
    border-radius: .3rem;
    /* height: 1rem; */
    margin: 2rem 1.4rem 1.5rem 1.4rem ;
    align-self: self-end;
    justify-self: left;


}

.four_list_second .p1 .Visual_Studio {
    /* padding: 1rem 1.3rem 2rem 1.3rem; */
 }

.four_list_second .p1 .general_fourIcons:hover {
    background-color: #5156eb;
}



@media (min-width: 580px) {
    .four_list_second {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
    }
    .four_list_second .p1 {
        margin-bottom: 2.5rem;
        position: relative;
    }

    .four_list_second .fur_unternehmen {
       justify-self: left;
       margin-left: 1.5rem;
    }


}

@media (min-width: 1084px) {
    .four_list_second {
        display: grid;
        grid-template-columns: repeat(4 , 1fr);

    }

    .four_list_second .bold_title_box {
        font-size: var(--text-xl);
    }

    .four_list_second .description_box {
        font-size: var(--text-md);
    }
}



/* -----------------microsoft folgen Icons----------------- */
.microsoft_folgen  {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center ;
    margin: 5rem 0;


}
.microsoft_folgen .microsoft_icons_folgen img {
    width: 1.3rem;
}

@media (min-width: 325px) {
    .microsoft_folgen {
        gap: 1.3rem;
    }
}

@media (min-width: 580px) {
    .microsoft_folgen {
        margin-left: 1.8rem;
        justify-content: unset;
    }
}

 /* <!------------------------------------- Footer --------------------------------------> */


 .footer    {
    background-color: #f1f2f6;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 2rem;
    gap: 1.5rem;
 }
 @media (min-width: 580px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}

 @media (min-width: 1084px) {
    .footer {
        display: flex;
        flex-direction: row;
        padding-left: 3rem;

    }
}


 .footer .firstWord_footerList {
    font-size: var(--text-sm);
    font-weight: bold;
 }

 .footer .unternehmen {
    /* margin-right: 9.5rem; */
 }

 .footer .neuigkeiten, .microsoft_Store, .bildungswesen ,
 .entwicklung , .unternehmen, .Unternehmen    {
    display: flex;
    flex-direction: column ;
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1 */
    /* margin: 0 3rem 0 7rem; */
    line-height: 1.8rem;
    color: #747d8c;


 }
 .footer .neuigkeiten a, .microsoft_Store a, .bildungswesen a,
  .entwicklung a, .unternehmen a, .Unternehmen a  {
    text-decoration: none;
    color: #747d8c;
    font-size: var(--text-2xs);
    white-space: nowrap;

 }
 .footer .neuigkeiten a:hover, .microsoft_Store a:hover, .bildungswesen a:hover,
  .entwicklung a:hover, .unternehmen a:hover, .Unternehmen a:hover  {
    text-decoration-line: underline;
 }
